<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form name="form" id="form" action="/" method='POST' enctype='multipart/form-data'>
        <p><input type="file" name="original" accept=".png,.jpg"> Original image</p>
        <p><input type="file" name="fake" accept=".png,.jpg"> Supposed Fake image</p>
        <button type="submit">Identify forgery</button>
    </form>

    <p id="result"></p>

    <script>
        // document.querySelector('#form').addEventListener('submit',(e)=>{
        //     e.preventDefault();
        //     e.submit()


        // })
    </script>

</body>

</html>